
<header>
  <div class="header-container">
      <div class="left-side-header">
          <img src="../assets/images/cohesion-logo.png" class="cohesion-icon">
          <a class="home-text">Home</a>
          <a class="projects-text">Projects</a>
          <a class="calendar-text">Calendar</a>
      </div>
      <div class="right-side-header">
          <img src="../assets/images/settings-icon.png" class="settings-icon">
          <img src="../assets/images/notifications-icon.png" class="notification-icon">
          <img src="../assets/images/avatar.png" class="user-icon">
      </div>
  </div>
</header>