
<header>
  <div class="flex-container">
    <div class="left-side">
      <button class="menu-button">
        <img src="../assets/images/menu.png" class="menu-icon">
      </button>
      <img src="../assets/images/trello.png" class="trello-icon">
      <span class="trello-text">Trello</span>
      <button class="Workspaces">
        Workspaces
        <img src="../assets/images/down-arrow.png" class="down-arrow-icon">
      </button>
      <button class="Recent">
        Recent
        <img src="../assets/images/down-arrow.png" class="down-arrow-icon">
      </button>
      <button class="Starred">
        Starred
        <img src="../assets/images/down-arrow.png" class="down-arrow-icon">
      </button>
      <button class="Templates">
        Templates
        <img src="../assets/images/down-arrow.png" class="down-arrow-icon">
      </button>
      <button class="create-button">Create</button>
    </div>

    <div class="right-side">
      <img src="../assets/images/search-icon.png" class="search-icon">
      <input class="search-bar" type="text" placeholder="Search">
      <img src="../assets/images/bell-icon.png" class="notifications">
      <img src="../assets/images/question-icon.png" class="information">
      <img src="../assets/images/user-image.jpeg" class="profile">
    </div>
  </div>
</header>