.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: $border-style;
    border-bottom-width: $border-width;
    border-bottom-color: $erp-gray-300;
    padding-bottom: 12px;
    box-sizing: border-box;

    .left-side{
        display: flex;
        align-items: center;
    }

    .menu-icon,
    .trello-icon{
    height: 15px;
    }
    
    .trello-text{
        margin-left: 5px;
        font-size: $h6-2;
        font-weight: 600;
        color: $erp-gray-700;
    }
      
    .menu-button{
        padding: 10px 10px 10px 10px;
        margin-left: $spacing-sm-2;
        border: none;
        border-radius: $radius-xs;
        background-color: transparent;
    }
      
    .trello-icon,
    .Workspaces,
    .Recent,
    .Starred,
    .Templates,
    .create-button{
        margin-left: 15px;
        font-size: $small-2;
        color: $erp-gray-700;
        font-weight: bolder;
        align-items: center;
    }
      
    .Workspaces,
    .Recent,
    .Starred,
    .Templates{
        padding: 10px 10px 10px 10px;
        display: flex;
        border: none;
        border-radius: $radius-xs;
        background-color: transparent;
    }
      
    .menu-button:hover,
    .Workspaces:hover,
    .Recent:hover,
    .Starred:hover,
    .Templates:hover{
        box-shadow: inset 100px 100px 1px rgba(68, 84, 111, 0.2);
        cursor: pointer;
    }
      
    .down-arrow-icon{
        margin-left: 5px;
        height: 15px;
    }
      
    .create-button{
        background-color: #0c66e4;
        color: $white;
        padding: 8px 8px 8px 8px;
        border: none 1px;
        border-radius: $radius-xs;
        font-size: 13px;
        font-weight: $F1-Bold;
    }
    
  }
  
    .right-side{
        display: flex;
        align-items: center;
        position: relative;

    .search-bar,
    .notifications,
    .information,
    .profile{
        margin-right: $spacing-sm-2;
    }
  
  
    .search-icon{
        position: absolute;
        left: 8px;
        height: 15px;
    }
  
    .search-bar{
        padding: 0px 12px 0px 30px;
        border: $border-width;
        border-style: $border-style;
        border-radius: 5px;
        border-color: $erp-gray-300;
        font-style: $small-2;
        height: 32px;
    }
  
    .notifications, 
    .information, 
    .profile{
        height: 22px;
    }
  
    .profile {
        border: none;
        border-radius: 50%;
    }

}
  