  body{
    font-family: $F1;
    color: $erp-gray-700;
  }

  .body-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .left-sidebar-container{
      display: block;
      margin: 40px 0 0;
      max-height: 90vh;
      padding: 0 16px;
      position: sticky;
      top: 40;
    }

    .button-left{
      display: flex;
      align-items: center;
      padding: 12px 12px 12px 12px;
      border: none;
      border-radius: $radius-sm;
      background-color: transparent;
    }

    .trello-lg{
      height: 17px;
    }

    .span-lg{
      padding-left: 15px;
      font-weight: 600;
      font-size: $small-2;
      color: $erp-gray-700;
    }

    .span-xg{
      font-size: $small;
      margin-bottom: 5px;
      margin-left: 10px;
    }

    .top-side-bar{
      display: flex;
      margin-top: 40px;
      margin-bottom: 15px;
      flex-direction: column;
      padding-bottom: 3px;
      border-bottom-width: $border-width;
      border-bottom-style: $border-style;
      border-bottom-color: $erp-gray-300;
    }

    .bottom-leftside-bar{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .bottom-leftside-bar-lg{
      display: flex;
      align-items: center;
      padding: 8px 8px 8px 8px;
      border-radius: $radius-sm;
    }

    .bottom-icon-lg{
      height: 24px;
    }

    .bottom-span{
      font-size: $small-2;
      margin-left: $spacing-xs-2;
      margin-right: 80px;
      font-weight: 600;
    }

    .bottom-icon-xg{
      height: 15px;
    }
  }

  .main-content-container{
    margin-top: 40px;
    padding-left: 45px;
    width: 420px;

    .dog-image{
      background-color: #FFF3EB;
      width: 100%;
      background-position: center;
    }
    
    .main-bottom{
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding: 16px;
      width: 100%;
    }
    
    .text-main-1,
    .text-main-2{
      text-align: center;
      letter-spacing: 0;
    }
    
    .text-main-1{
      font-size: $normal;
      font-weight: $F1-Bold;
      line-height: 24px;
    }
    
    .text-main-2{
      font-size: $small-2;
      line-height: 20px;
      margin: 10px 0;
    }

  }

  .right-sidebar-container{
    height: 25vh;
    margin-top: 40px;
    max-width: 342px;
    overflow-y: auto;
    padding-left: 50px;
    position: sticky;
    top: 40px;
    width: 100%;

    .clock-icon{
      height: 15px;
    }
  
    .top-rightsidebar{
      display: flex;
      padding: 0px 0px 0px 22px;
    }
  
    .left-side-rightsidebar{
      display: flex;
      align-items: center;
    }
  
    .pastel-icon{
      height: 24px;
    }
  
    .container-lg{
      display: flex;
      margin-top: 15px;
      margin-bottom: 25px;
      padding: 12px 12px 12px 12px;
      border-radius: $radius-sm;
    }
  
    .right-side-rightsidebar{
      margin-left: 5px;
      display: flex;
      flex-direction: column;
    }
  
    .right-span-lg{
      font-size: $small-2;
      margin-left: 3px;
      font-weight: 600;
    }
  
    .right-span-xg{
      font-size: $xsmall;
      margin-left: 5px;
    }
  
    .span-cg{
      font-size: 13px;
      padding-left: 22px;
    }
  
    .container-xg{
      margin-left: 5px;
      margin-top: 25px;
      display: flex;
      align-items: center;
      padding: 12px 12px 12px 12px;
      border-radius: $radius-sm;
    }
  
    .add-icon{
      height: 18px;
    }
  
    .span-vg{
      font-size: $small-2;
      margin-left: 15px;
    }
  }

  .button-left:hover,
  .bottom-leftside-bar-lg:hover,
  .container-lg:hover,
  .container-xg:hover
  {
    box-shadow: inset 100px 100px 1px rgba(68, 84, 111, 0.2);
  }

  .container-lg:hover,
  .container-xg:hover,
  .button-left:hover,
  .bottom-leftside-bar
  {
    cursor: pointer;
  }

